/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
       margin-left: auto;
       margin-right: auto;
       display: block;
    }

    header {
        background-color:#000000;
        padding:5px;
        font-size: ;
        display: block;
        width: 790px;
        align-content: center;
        margin-bottom: 20px;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
.formtext {
  font: normal .80em ariel, sans-serif;
}

    h1 {
    font: bold normal 2.4em ariel, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 15px;
    }


    .redbutton {
        font-family: sans-serif;
        font-size: 17px;
        color: #fff;
        background: #cc3524;
        border: 0;
        border-radius: 30px;
        width: 150px;
        margin-bottom: 30px;
        text-decoration: none;
    }
  .hero {
    align-self: center;
    display: block;
  }
  .shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 20px;
    margin-bottom: 30px;
  }

    nav {
        line-height:;
        background-color:#e0ddd1;
        width:230px;
        display: inline-block;
        vertical-align: top;
        height: 340px;
        margin-right: 20px;

    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: #cc3524;
    }
    section {
        width: 540px;
        display: inline-block;
    }

    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
        font-size: 11px;
    }

    p {
      font: normal 1em ariel, sans-serif;
    }
